<div class="tasklist-container" style="margin-left: 296px">
  <div style="margin-top: 72px">
    <h1>Task List</h1>
  </div>

  <div class="filters" style="padding: 0; display: flex">
    <p style="font-weight: bold">Filters:</p>
    <select name="Status" id="status" class="filter-list">
      <option value="To-Do">To-Do</option>
      <option value="Done">Done</option>
      <option value="Doing">Doing</option>
    </select>
    <div class="Date">
      <input type="date" class="filter-list" />
      <select name="priority" id="priority" class="filter-list">
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
      </select>
    </div>
  </div>
  <div class="task-list">
    <div style="width: 20%">Title</div>
    <div style="width: 20%">Due Date</div>
    <div style="width: 20%">Priority</div>
    <div style="width: 20%">Status</div>
    <div style="width: 20%">Actions</div>
  </div>
</div>
