<div style="margin-left: 296px;
margin-top: 72px;">
  <h1>
    Task List
  </h1>
</div>

<div class="filters" style="margin-left: 316px;
padding: 0;
">
  <p style="font-weight: bold;">Filters:</p>
  <span style="width: 104px;
  height: 26px;
  flex-shrink: 0;
  border-radius: 4px;
border: 1px solid #D2D2D2;
background: #FFF;
margin-left: 323px;">Random</span>
</div>

<div class="tasklist-container" style="width: 1263px;
height: 713px;
border: 1px solid #d2d2d2;
border-radius: 10px;
margin-left: 298px;
position: fixed;
flex-shrink: 0;
padding: 0px;
">

</div>
