<div style="width: 240px">
  <div style="margin-left: 21px; margin-top: 49px">
    <span
      style="
        color: #48c15b;

        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      "
    >
      TASK</span
    >
    <span
      style="
        color: #000;
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      "
      >IT</span
    >
  </div>
<div style="margin-top: 42px;
">
  <div class="sidebar-links" style="">
    <a href="#">
      <button
        style="
          border-radius: 12px;
          background: #48c15b;
          color: #fff;
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          width: 200px;
          border: none;
          padding: 15px 0px;
        "
      >
        Task List
      </button>
    </a>
    <a href="#">
      <button
        style="
          border-radius: 12px;
          background: #f8f8f8;
          color: black;
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          width: 200px;
          border: none;
          padding: 15px 0px;
          margin-top: 15px;
        "
      >
        KanBan
      </button>
    </a>
    <a href="#">
      <button
        style="
          border-radius: 12px;
          background: #f8f8f8;
          color: black;
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          width: 200px;
          border: none;
          padding: 15px 0px;
          margin-top: 15px;
        "
      >
        Bored
      </button>
    </a>
  </div>
  </div>
</div>

