<div>
    <div style="
    margin-left: 21px;
    margin-top: 49px;">
        <span style="
    color: #48C15B;

    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    ">
            TASK</span>
        <span style="color: #000;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;">IT</span>
    </div>

    <div class="sidebar-links" style="">
        <a href="#">
            <button style="border-radius: 12px;
        background: #48C15B;
        color: #FFF;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 200px;
border: none;
padding: 15px 0px;
">
                Task List
            </button>
        </a>
        <a href="#">
          <button style="border-radius: 12px;
      background: #F8F8F8;
      color: black;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 200px;
border: none;
padding: 15px 0px;
">
              KanBan
          </button>
      </a>
      <a href="#">
        <button style="border-radius: 12px;
    background: #F8F8F8;
    color: black;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 200px;
border: none;
padding: 15px 0px;
">
            Bored
        </button>
    </a>
    </div>
</div>
