<!-- component's container -->
<div class="sidebar">
  <!-- component's content -->
  <div style="padding-left: 21px; padding-top: 49px">
    <header>
      <span class="logo-green"
      >
        TASK</span
      >
      <span class="logo-black"
        >IT</span
      >
    </header>
  </div>
  <div style="margin-top: 42px">
    <div class="sidebar-links">
      <a href="#">
        <button class="nav-link"
        style="background: #48C15B;
        color: #FFF"
        >
          Task List
        </button>
      </a>
      <a href="#">
        <button
          style="
            margin-top: 15px;
          "
          class="nav-link"
        >
          KanBan
        </button>
      </a>
      <a href="#">
        <button
          style="
            margin-top: 15px;
          "
          class="nav-link"
        >
          Bored
        </button>
      </a>
    </div>
  </div>
</div>
