<div class="modal-box">
  <p class="headline">Add a New Task</p>
  <input class="title-box" value="Title">
  <input type="text" class="description" value="Description">
  <input type="date" class="date-box" value="Due Date">
  <select name="priority" id="priority" class="priority-box" value="Priority">
    <option value="High">High</option>
    <option value="Medium">Medium</option>
    <option value="Low">Low</option>
  </select>
  <select name="Status" id="status" class="status-box" value="Status">
    <option value="To-Do">To-Do</option>
    <option value="Done">Done</option>
    <option value="Doing">Doing</option>
  </select>
  <a href="#">
    <button class="cancel-btn"
    >
      Cancel
    </button>
  </a>
  <a href="#">
    <button class="create-btn"
    >
      Create
    </button>
  </a>
  </div>
  <div class="modalBackdrop"></div>
